.slide {
  max-width: 100%;
  padding-top: 70px;
}

.header {
  z-index: 15;
  width: 100%;
  background-color: #f9f9f9;
  position: fixed;
}
.title {
    position: relative;
    top: -150px;
    left: 125px;
    height: 0px;
    color: white;
    font-size: 9rem;
}

.alert-info {
    top: 10px;
    left: 25px;
}

@media (max-width: 800px) {
  .title {
      font-size: 4rem;
      top:  -75px;
      left: 50px;
    }
}
