.box-info-products {
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.35);
  border-right-style: solid;
}

.box-info-products h4 {
    margin-top: 24px;
}

.navbar .btn-circle {
  border-radius: 25px;
}
.btn-box {
  height: 13px;
}
.container .navbar {
  margin-top: 35px;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(128, 128, 128, 0.35);
}
.navbar .active {
  color: white;
  background-color: #66dcfe;
}
h3 span {
  cursor: pointer;
}

h3 span:hover {
    color: white;
    background-color: rgba(97, 210, 248, 0.5);
}

h4 {
  margin-top: 25px;
}
